<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Web</title>
</head>
<body>
    <h4>Hola!!!</h4>
    <h1>Mi primer Web HTML</h1>
    <h2>Este es un H2</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quaerat alias, architecto recusandae a reiciendis! Animi, quibusdam minus ipsa cupiditate doloremque aliquid voluptates repellendus nobis, soluta est labore suscipit quis?</p>

    <img src="https://i.pinimg.com/originals/67/21/21/672121d73365f33b8ad6f625a00ae579.png" alt="">

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error quis repellat dolore. Consequatur omnis ab facere consequuntur sint dolore fugiat vel placeat ex, expedita, corporis explicabo? Vel necessitatibus tenetur laborum!
    </p>

<ol type="I">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

</ol>

<ul>    
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

</ul>

<a href="https://www.google.com">Ir a Google</a>
</body>
</html>