<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link
    
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"

  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <header id="relleno">
    <div id="logo">
      <img width="40%" height="20%" src="../images/logo-mercado-liebre.svg" alt="" > <br>

    </div>
    <div id="barra">
      
    </div>
    <div id="lupa">      
      <i class="fas fa-search"></i>
    </div>      
           
    <div id="sintd">
      <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
       
    <nav>
      <div>
        <a>Ofertas</a></li><br>
        <a>Tiendas Oficiales</a></li><br>
        <a>Vender</a></li><br>
        <a>Ayuda</a></li><br>
      </div>
      
      
    </nav> 
    <div id="cuenta">
      <a>Crea tu cuenta</a><i class="far fa-address-card"></i></li><br>
      <a>Ingresa</a><i class="fas fa-sign-in-alt"></i></li><br>
      <a>Mis compras</a><i class="fas fa-shopping-basket"></i></li><br>
    </div> 
    

    <div id="menu">
      <i class="fa fa-bars burger"></i>
     </div>

  </header>
    <main>
    <img width="100%" height="60%" src="../images/img-home-banner.jpg" alt=""><br>
    <h3>Basado en tu ultima vista</h3><br>
    <h3>Cafetera Moulinex</h3><br>
    <img width="40%" height="40%" src="../images/img-cafetera-moulinex.jpg" alt="" ><br>
        <h4>$6.770</h4><br>
        <h5>40% OFF</h5><br>
        <h3>MacBook Pro 2019</h3><br>        
        <img width="40%" height="40%"  src="../images/img-macbook-pro-2019.jpg" alt=""><br>
        <h4>$230.000</h4><br>
        <h5>20% OFF</h5><br>
        <h3>Smart Tv Samsung 43"</h3><br>
        <img width="40%" height="40%"  src="../images/img-tv-samsung-smart.jpg" alt=""><br>
        <h4>$23.200</h4><br>
        <h5>5% OFF</h5><br>
        

        <h3>Cafetera Moulinex</h3><br>
    <img width="40%" height="40%" src="../images/img-cafetera-moulinex.jpg" alt="" ><br>
        <h4>$6.770</h4><br>
        <h5>40% OFF</h5><br>
        <h3>MacBook Pro 2019</h3><br>        
        <img width="40%" height="40%"  src="../images/img-macbook-pro-2019.jpg" alt=""><br>
        <h4>$230.000</h4><br>
        <h5>20% OFF</h5><br>
        <h3>Smart Tv Samsung 43"</h3><br>
        <img width="40%" height="40%"  src="../images/img-tv-samsung-smart.jpg" alt=""><br>
        <h4>$23.200</h4><br>
        <h5>5% OFF</h5><br>
    </main>
  <footer>
    <div id="icono">
      <i class="fas fa-credit-card"></i><br>
      </div>
      
      <div id="pie">
    <h5>Paga con tarjeta o en efectivo</h5>
    <h6>Con MercadoLiebreCash tenes cuotas sin
        interes con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!
    </h6><br>
    </div>
  
  </div>
  <div id="icono"><i class="fas fa-gift"></i><br>
    </div>
    
    <div id="pie"><h5>Envio Gratis desde los $ 2.500</h5><br>
    <h6>Solo por estar registrado en Mercado Liebre 
        tenes envios gratis en miles de productos. Es
        un beneficio de Mercado Puntos.</h6><br>
      </div>
      
        <div id="icono">
          <i class="fas fa-user-shield"></i><br>
          </div>

          <div id="pie">
    <h5>Seguridad de principio a fin</h5><br>
    <h6>¿No te gusta?¡Devolvelo! en Mercado Liebre no hay
        nada que no puedas hacer porque estas siempre protegid@.
    </h6>
  </div>
  <div id="copyright">
    <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
  </div>
  </footer>
</body>
</html>