<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
  <header>
       <img src="../images/logo-mercado-liebre.svg" alt=""> <br>
    <p>Lugar para poner la barra de busqueda</p><br>
    <p>Compar en coutas y sin tarjeta de credito</p><br>
    <ul>
        <li type="circle" ><a href="">Ofertas</a></li>
        <li type="circle" ><a href="">Tiendas Oficiales</a></li>
        <li type="circle" ><a href="">Vender</a></li>
        <li type="circle" ><a href="">Ayuda</a></li>
    </ul>
    <ul>
        <li type="circle" ><a href="">Crea tu cuenta</a></li>
        <li type="circle" ><a href="">Ingresa</a></li>
        <li type="circle" ><a href="">Mis compras</a></li>

    </ul>


  </header>
    <main>
    <img src="../images/img-home-banner.jpg" alt=""><br>
    <b>Basado en tu ultima vista</b><br>
    <img src="../images/img-cafetera-moulinex.jpg" alt=""><br>
        <p>$6.770</p><br>
        <p>40% OFF</p><br>
        <b>Cafetera Moulinex</b><br>
        <img src="../images/img-macbook-pro-2019.jpg" alt=""><br>
        <p>$230.000</p><br>
        <p>20% OFF</p><br>
        <b>MacBook Pro 2019</b><br>
        <img src="../images/img-samsung-galaxy-s10.jpg" alt=""><br>
        <p>$23.200</p><br>
        <p>5% OFF</p><br>
        <b>Smart Tv Samsung 43"</b><br>

        <b>Ofertas</b>
        <img src="../images/img-cafetera-moulinex.jpg" alt=""><br>
        <p>$6.770</p><br>
        <p>40% OFF</p><br>
        <b>Cafetera Moulinex</b><br>
        <img src="../images/img-macbook-pro-2019.jpg" alt=""><br>
        <p>$230.000</p><br>
        <p>20% OFF</p><br>
        <b>MacBook Pro 2019</b><br>
        <img src="../images/img-samsung-galaxy-s10.jpg" alt=""><br>
        <p>$23.200</p><br>
        <p>5% OFF</p><br>
        <b>Smart Tv Samsung 43"</b><br>

    </main>
  <footer>
    <b>Paga con tarjeta o en efectivo</b><br>
    <p>Con MercadoLiebreCash tenes cuotas sin
        interes con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!
    </p><br>
    <b>Envio Gratis desde los $ 2.500</b><br>
    <p>Solo por estar registrado en Mercado Liebre 
        tenes envios gratis en miles de productos. Es
        un beneficio de Mercado Puntos.</p><br>
    <b>Seguridad de principio a fin</b><br>
    <p>¿No te gusta?¡Devolvelo! en Mercado Liebre no hay
        nada que no puedas hacer porque estas siempre protegid@.
    </p>

    <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
  </footer>
</body>
</html>